autopep8==2.1.0
cmake==3.29.0.1
colorama==0.4.6
dlib==19.24.4
iniconfig==2.0.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pillow>=12.1.1
pluggy==1.4.0
pycodestyle==2.11.1
pytest==8.1.1
setuptools>=78.1.1
wheel==0.43.0


