<!-- 
    https://getbootstrap.com/docs/5.1/getting-started/introduction/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Samplex Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <form method="post">
        <input type="number" name="num" value="1234" />
        <input type="submit" name="action" value="Submit" />
    </form>

    <!-- https://getbootstrap.com/docs/5.1/content/tables/#overview -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">first_name</th>
                <th scope="col">last_name</th>
                <th scope="col">email</th>
                <th scope="col">ip_address</th>
                <th scope="col">trade</th>
            </tr>
            <tbody>
                {% for item in result %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.ip_address}}</td>
                    <td>{{item.trade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

</body>

</html>